# CI 项目
name: test

# CI 权限
permissions: write-all

# CI 计划
on:
  # 手动运行
  workflow_dispatch:

# CI 环境
env:
  # GITHUB ENV
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

# CI 任务
jobs:
  auto-update:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          token: ${{secrets.WORKFLOW_TOKEN}}

      - name: InitWorkflow
        run: |
          workflowPath="$RUNNER_TEMP/Workflow-$(uuidgen | tr -d '-')"
          git clone --depth=1 https://github.com/zero-dream/github-action.git "$workflowPath/" || exit 1
          chmod +x "$workflowPath/zerodream/init/init.sh"
          bash "$workflowPath/zerodream/init/init.sh"
          rm -rf "$workflowPath/"

      - name: Test
        run: |
          source "$CI_ScriptPath/test.sh"
